:root {
    --main-inc-color: #8a2be2;
    --second-inc-color: #3cc0f0;
    --enemy-inc-color: red;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.cube-cont {
    width: 500px;
    height: 500px;
    background-color: black;
}

.vertex,
.face,
.assembly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.face {
    background-blend-mode: screen;
}

.vertex {
    width: 20px;
    height: 20px;
    margin: -4px;
    background: rgb(255 0 0 / 80%);
    border-radius: 50%;
    color: cyan;
    font: 1.5rem monospace;
    text-indent: 5px;
    white-space: nowrap;
    z-index: 10;
}

#scene {
    width: auto;
    height: 500px;
    position: relative;
    inset: 0;
    perspective: 2000px;
    transform-style: preserve-3d;
}



.cube {
    transform: rotateX(330deg) rotateY(330deg) rotateZ(0deg);
}

.cube .face {
    width: 200px;
    height: 200px;
    margin: -100px;
}

.cube .face:nth-child(1) {
    transform: translateZ(100px);
    background-color: rgb(255 255 255 / 73%);
}

.cube .face:nth-child(2) {
    transform: translateZ(-100px) rotateY(180deg);
    background-color: rgb(255 255 255 / 98%);
}

.cube .face:nth-child(3) {
    transform: translateX(-100px) rotateY(-90deg);
    background-color: rgb(255 255 255 / 57%);
}

.cube .face:nth-child(4) {
    transform: translateX(100px) rotateY(90deg);
    background-color: rgb(255 255 255 / 95%);
}

.cube .face:nth-child(5) {
    transform: translateY(100px) rotateX(-90deg);
    background-color: rgb(255 255 255 / 1%);
}

.cube .face:nth-child(6) {
    transform: translateY(-100px) rotateX(90deg);
    background-color: rgb(255 255 255 / 38%);
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.form {
    display: grid;
    justify-items: center;
    align-items: center;
}

.input {
    font-size: 10rem;
    width: 47rem;
}

.hidden {
    display: none;
}

.message {
    font-size: 3rem;
}

.warn1, .warn2 {
    background-color: orange;
}

.error {
    background-color: red;
    color: white;
}

.win {
    background-color: greenyellow;
}

@media (width <= 450px) {
    * {
        margin: 0;
        padding: 0;
    }

    .grid {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .cube-cont {
        width: 95vw;
    }

    .input {
        font-size: 4.5rem;
        width: 21rem;
    }
}
